@(firstName: String)

<a href="#" class="dropdown-toggle" data-toggle="dropdown">@firstName's Account<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="@fftsite.controllers.routes.FFTSite.getProfile">Profile</a></li>
<li><a href="#">Sign-ups</a></li>
<li><a href="#">Reimbursements</a></li>
<li class="divider"></li>
<li><a href="@securesocial.controllers.routes.LoginPage.logout">Logout</a></li>
<li><a href="@securesocial.controllers.routes.PasswordChange.page">Change password</a></li>
</ul>