@(title: String)(content: Html)

@navbarItemHTML(navbarItem: String, navbarURL: String) = {
  <li class=@{ if (title.contains(navbarItem)) "active" else "" }>
    <a href=@{s"${navbarURL}"}>@navbarItem</a>
  </li>
}

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
        
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/extra.css")" rel="stylesheet">
  </head>
  <body>
  
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">  
      <a class="brand" href="/">Food for Thought</a>
      <ul class="nav">
        @navbarItemHTML("Methods", "methods")
        @navbarItemHTML("Results", "results")
        @navbarItemHTML("FAQ", "faq")
        @navbarItemHTML("Blog", "blog")
        @navbarItemHTML("Mailing list", "group")
        @navbarItemHTML("Source", "source")
        @navbarItemHTML("Members", "members")
      </ul>
    </div>	
    </div>
  </div>

  <div id="wrapper" class="banner fullImage">
    <a href="@routes.Assets.at("images/eating_panorama_retouched.jpg")">
      <img src="@routes.Assets.at("images/eating_panorama_retouched.jpg")">
    </a>
  </div>
  
  <div class="container">  
    @content
    
    <hr>
    
    <footer>
      <p>Built with <a href="http://www.playframework.com/">Play</a> and <a href="http://twitter.github.io/bootstrap/index.html">Bootstrap</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    </footer>
    </div>
  </body>
</html>
